body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

#CPS {
  padding: 20px 40px;
  border: none;
  border-radius: 20px;
  background-color: royalblue;
  color: white;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
  touch-action: manipulation;
}
//Nur für Maus
#CPS:hover {
  background-color: darkblue;
}

#CPS:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#End {
  display: none;
  margin-top: 23px;
  font-size: 24px;
  text-align: center;
  background-color: green;
}
